# Autosave files
*~

# build
[Oo]bj/
[Bb]in/
packages/
TestResults/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db
.vs/

# Mac bundle stuff
*.dmg
*.app

# resharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover

/cache/

/packages/

/*/bin/
/*/obj/
/*/packages/
/*/Droid/Resources/Resource.designer.cs 
.vs
.idea/.idea.ScanPDF/.idea/contentModel.xml
.idea/.idea.ScanPDF/.idea/indexLayout.xml
.idea/.idea.ScanPDF/.idea/modules.xml
